<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider"
		  class="org.sakaiproject.ddo.tool.rest.DDOEntityProvider">
		<property name="authzGroupService" ref="org.sakaiproject.authz.api.AuthzGroupService" />
		<property name="projectLogic" ref="org.sakaiproject.ddo.logic.ProjectLogic" />
		<property name="sakaiProxy" ref="org.sakaiproject.ddo.logic.SakaiProxy" />
		<property name="securityService" ref="org.sakaiproject.authz.api.SecurityService" />
	</bean>
       
</beans>
